doctype html
html
    head
        include ../_modules/_head.jade
    body
        table#table(style='width: 100%;' data-options="url: 'http://127.0.0.1:10086/treegridData1', toolbar: '#toolbar-all'")
            thead
                tr
                    th(data-options="field: 'region', width: '100%'") 制度
        // 工具栏
        div.display-none
            // 全部
            div#toolbar-all
                a.easyui-linkbutton(data-options="iconCls:'icon-redo', plain:true") 上传
                a.easyui-linkbutton(data-options="iconCls:'icon-cancel', plain:true") 删除
                a.easyui-linkbutton(data-options="iconCls:'icon-search', plain:true") 查看
        // js
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "initTreegrid", "btnCtrlTable", "dbClickNewHref"], function (common, initTreegrid, btnCtrlTable, dbClickNewHref) {
                var $table = $("#table");
                initTreegrid($table, "region");
                // dbClickNewHref($table, "./个人办公-员工动静板-查看.html");
            });
