doctype html
html
    head
        include ../_modules/_head.jade
    body
        form.easyui-panel#form(title='添加公告' style='width: 100%;padding: 10px;' data-options="footer: '.eui-panel-footer'")
            // method='POST' enctype='multipart/form-data'
            table.eui-formLayout
                tr
                    td.textAlign-right 标题：
                    td.eui-formLayout-option
                        input.easyui-textbox.eui-formComponent(type='text' required)
                    td.textAlign-right 发布人：
                    td.eui-formLayout-option name
                    td.textAlign-right 接受部门：
                    td.eui-formLayout-option
                        input.easyui-combotree.eui-formComponent(data-options="editable: false, multiple: true, url: 'http://127.0.0.1:10086/combobox', method: 'GET', valueField: 'id', textField: 'text'")
                tr
                    td.textAlign-right 简介：
                    td(colspan='5')
                        input.easyui-textbox(type='text' style='width: 450px;' required)
                tr
                    td.textAlign-right 有效期：
                    td(colspan='5')
                        input.easyui-datebox.eui-formComponent(type='text' data-options="sharedCalendar: '#calender'" required)
                        span 至
                        input.easyui-datebox.eui-formComponent(type='text' data-options="sharedCalendar: '#calender'" required)
                tr
                    td.textAlign-right 内容：
                tr
                    td(colspan='6')
                        input.easyui-textbox.eui-formTextarea(data-options="multiline: true" style='width: 665px;height: 80px;' required)
            div.easyui-calender#calender
            div.eui-panel-footer
                a.easyui-linkbutton#save(data-options="iconCls: 'icon-save'") 保存
                a.easyui-linkbutton(data-options="iconCls: 'icon-undo'") 返回
            // js
            script(src='../../js/common/require.2.2.0.min.js')
            script(src='../../js/common/require.config.js')
            script.
                require(["common", "formSubmit"], function (common, formSubmit) {
                    vaildForm();
                    formSubmit($("#save"), $("#form"), "http://127.0.0.1:10086/example");
                });