doctype html
html
    head
        meta(charset='utf-8')
        meta(name='renderer' content='webkit')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        link(href='../../css/common.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/metro/easyui.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/icon.css' rel='stylesheet')
    body
        form.easyui-panel#form(title='添加运输费用' style='width: 100%;padding: 10px;' data-options="footer: '.eui-panel-footer'")
            // method='POST' enctype='multipart/form-data'
            table.eui-formLayout
                tr
                    td.textAlign-right 预算类：
                    td.eui-formLayout-option
                        select.easyui-combobox.eui-formComponent(data-options="editable: false")
                    td.textAlign-right 费用名称：
                    td.eui-formLayout-option
                        select.easyui-combobox.eui-formComponent(data-options="editable: false")
                    td.textAlign-right 费用总额：
                    td.eui-formLayout-option
                        input.easyui-textbox.eui-formComponent(type='text' required)
                tr
                    td.textAlign-right 经办人：
                    td
                        input.easyui-textbox.eui-formComponent(type='text' required)
                    td.textAlign-right 经办日期：
                    td
                        input.easyui-datebox.eui-formComponent(type='text' data-options="sharedCalendar: '#calendar'" required)
                tr
                    td.textAlign-right 备注：
                tr
                    td(colspan='6')
                        input.easyui-textbox.eui-formTextarea(data-options="multiline: true" style='width: 665px;height: 80px;')
            div.easyui-calendar#calendar
            div.eui-panel-footer
                a.easyui-linkbutton#save(data-options="iconCls: 'icon-save'") 保存
                a.easyui-linkbutton(data-options="iconCls: 'icon-undo'") 返回
        // js
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "formSubmit"], function (common, formSubmit) {
                formSubmit($("#save"), $("#form"), "http://127.0.0.1:10086/example");
            });
