doctype html
html
    head
        include ../_modules/_head.jade
    body
        // 数据
        table#table(style='width: 100%;' data-options="url: 'http://127.0.0.1:10086/data2', toolbar: '#toolbar-all'")
            thead
                tr
                    th(data-options="field: 'f1', width: '10%'") 成本划分
                    th(data-options="field: 'f2', width: '10%'") 子项目
                    th(data-options="field: 'f3', width: '10%'") 型式或规格
                    th(data-options="field: 'f4', width: '5%'") 单位
                    th(data-options="field: 'f5', width: '5%'") 预算数量
                    th(data-options="field: 'f6', width: '10%'") 预算单价
                    th(data-options="field: 'f7', width: '10%'") 预算小计
                    th(data-options="field: 'f8', width: '10%'") 计划数量
                    th(data-options="field: 'f9', width: '10%'") 计划单价
                    th(data-options="field: 'f10', width: '10%'") 计划小计
                    th(data-options="field: 'f11', width: '10%'") 项目合计金额
        // 工具栏
        div.display-none
            div#toolbar-all
                a.easyui-linkbutton(data-options="iconCls:'icon-undo', plain:true") 返回
        // js
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "initDatagrid", "btnCtrlTable", "datagridView"], function (common, initDatagrid, btnCtrlTable, datagridView) {
                var $table = $("#table");
                initDatagrid($table);
                datagridView($table, function (data) {
                    return data.total;
                });
            });

