doctype html
html
    head
        meta(charset='utf-8')
        meta(name='renderer' content='webkit')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        link(href='../../css/common.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/metro/easyui.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/icon.css' rel='stylesheet')
    body
        // 查询
        form.eui-queryBox.clearfix#form
            div.eui-queryBox-col.clearfix
                div.eui-queryBox-left
                    span.eui-queryBox-group
                        |客户名称：
                        input.easyui-textbox.eui-formComponent(type='text')
                    span.eui-queryBox-group
                        |约定编码：
                        input.easyui-textbox.eui-formComponent(type='text')
                    span.eui-queryBox-group
                        |客户担当：
                        input.easyui-textbox.eui-formComponent(type='text')
                    span.eui-queryBox-group
                        |设备名称：
                        input.easyui-textbox.eui-formComponent(type='text')
            div.clearfix
                div.eui-queryBox-left
                    span.eui-querybox-group
                        |是否付款：
                        input(type='checkbox')
                        select.easyui-combobox.eui-formComponent(data-options="editable: false")
                            option 等于
                            option 不等于
                    span.eui-querybox-group
                        |应付未付：
                        input(type='checkbox')
                        select.easyui-combobox.eui-formComponent(data-options="editable: false")
                            option 等于
                            option 不等于
                div.eui-queryBox-right
                    a.easyui-linkbutton#formQuery(data-options="iconCls: 'icon-search'") 查询
                    a.easyui-linkbutton#formReset(data-options="iconCls: 'icon-clear'") 重置
        // 数据
        table#table(style='width: 100%;' data-options="url: 'http://127.0.0.1:10086/data1', toolbar: '#toolbar-all'")
            thead
                tr
                    th(data-options="field: 'f1', width: '20%'") 约定编码
                    th(data-options="field: 'f2', width: '15%'") 客户名称
                    th(data-options="field: 'f3', width: '15%'") 客户设备名称
                    th(data-options="field: 'f4', width: '10%'") 数量
                    th(data-options="field: 'f5', width: '20%'") 签订日期
                    th(data-options="field: 'f6', width: '20%'") 签订金额
        // 工具栏
        div.display-none
            div.clearfix#toolbar-all
                a.easyui-linkbutton#toolbar-all-edit(data-options="iconCls:'icon-reload', plain:true") 库存转换
        // js
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "initDatagrid", "formQuery", "formReset"], function (common, initDatagrid, formQuery, formReset) {
                var $table = $("#table");
                initDatagrid($table);
                // 查询
                formQuery($("#formQuery"), $table, "http://127.0.0.1:10086/data1");
                // 重置
                formReset($("#formReset"), $("#form"));
            });