doctype html
html
    head
        include ../_modules/_head.jade
    body
        form.easyui-panel#form(title='添加供应商' style='width: 100%;padding: 10px;' data-options="footer: '.eui-panel-footer'")
            // method='POST' enctype='multipart/form-data'
            table.eui-formLayout#formTable
                tr
                    td.textAlign-right 资材名称：
                    td.eui-formLayout-option
                        select.easyui-combobox.eui-formComponent(data-options="editable: false, url: 'http://127.0.0.1:10086/combobox', method: 'GET', valueField: 'id', textField: 'text'")
                    td.textAlign-right 规格型号：
                    td.eui-formLayout-option
                        select.easyui-combobox.eui-formComponent(data-options="editable: false, url: 'http://127.0.0.1:10086/combobox', method: 'GET', valueField: 'id', textField: 'text'")
                    td.textAlign-right 订购数量：
                    td.eui-formLayout-option
                        input.easyui-textbox.eui-formComponent(type='text' required)
                tr
                    td.textAlign-right 订购单价：
                    td
                        input.easyui-textbox.eui-formComponent(type='text' required)
                    td.textAlign-right 交货地：
                    td
                        select.easyui-combobox.eui-formComponent(data-options="editable: false, url: 'http://127.0.0.1:10086/combobox', method: 'GET', valueField: 'id', textField: 'text'")
                    td.textAlign-right 希望到货时间：
                    td
                        input.easyui-datebox.eui-formComponent(type='text' data-options="sharedCalendar:'#calender'" required)
                tr
                    td.textAlign-right 发票类型：
                    td
                        select.easyui-combobox.eui-formComponent(data-options="editable: false, url: 'http://127.0.0.1:10086/combobox', method: 'GET', valueField: 'id', textField: 'text'")
                    td.textAlign-right 税率：
                    td
                        input.easyui-textbox.eui-formComponent(type='text' required)
                tr
                    td.textAlign-right 技术要求：
                tr
                    td(colspan='6')
                        input.easyui-textbox.eui-formTextarea(data-options="multiline: true" style='width: 665px;height: 80px;')
                tr
                    td.textAlign-right 其他要求：
                tr
                    td(colspan='6')
                        input.easyui-textbox.eui-formTextarea(data-options="multiline: true" style='width: 665px;height: 80px;')
            div.easyui-calender#calender
            div.eui-panel-footer
                a.easyui-linkbutton#save(data-options="iconCls: 'icon-save'") 保存
                a.easyui-linkbutton(data-options="iconCls: 'icon-undo'") 返回
        // js
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "formSubmit"], function(common, formSubmit){
                formSubmit($("#save"), $("#form"), "http://127.0.0.1:10086/example");
            });