doctype html
html
    head
        meta(charset='utf-8')
        meta(name='renderer' content='webkit')
        meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
        link(href='../../css/master.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/default/easyui.css' rel='stylesheet')
        link(href='../../jquery-easyui-1.5/icon.css' rel='stylesheet')
    body.easyui-layout
        // 底部
        div(data-options="region: 'south'" style="height:30px;")
            p.layout.layout-south 版权所有&nbsp;&copy;&nbsp;沈阳天骐科技公司
        // 顶部
        div(data-options="region: 'north'" style="height:50px;")
            div.layout.layout-north.clearfix
                img.logo(src='../../img/logo.png' width='340' height='29')
                div.layout-north-tools
                    a.easyui-linkbutton#gerenshezhi(title='个人设置' data-options="plain: true, iconCls: 'icon-cog'" data-tabs-title='个人设置' data-tabs-url='https://baidu.com/') 个人设置
                    a.easyui-linkbutton(title='退出' data-options="plain: true, iconCls: 'icon-door_out'") 退出
        // 左侧
        div(title='导航菜单' data-options="region: 'west', split: true" style="width:200px;")
            div.layout.layout-west
                div.easyui-accordion#master-navs(style='width: 100%;height: 100%;')
        // 中部
        div(data-options="region: 'center'")
            div.layout.layout-center
                // 选项卡
                div.easyui-tabs#master-tabs(data-options="tabHeight: 25, border: false" style='width: 100%;height: 100%;')
                    div(title='首页')
                        iframe(src='../首页/首页.html')
                // 选项卡的菜单
                div.easyui-menu#master-tabs-header-menu
                    div(data-options="name: 'reload', iconCls: 'icon-reload'") 刷新
                    div.menu-sep
                    div#master-menu-close(data-options="name: 'close', iconCls: 'icon-tag_remove'") 关闭
                    div(data-options="name: 'closeEtc', iconCls: 'icon-ticket_remove'") 关闭其他
                    div(data-options="name: 'closeAll', iconCls: 'icon-box_remove'") 关闭全部
        // js
        script(src='../../js/master/_config.js')
        script(src='../../js/common/require.2.2.0.min.js')
        script(src='../../js/common/require.config.js')
        script.
            require(["common", "../../js/master/main.js"], function(common, master){
                master();
            });