doctype html
html
    head
        meta(charset='utf-8')
        meta(name='renderer' content='webkit')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        style.
            h2 {margin: 8px 0;}
            h4 {margin: 5px 0;}
            ul {margin: 5px 0 20px;}
            a {text-decoration: none;color: #2b81af;}
            a:hover {text-decoration: underline;}
    body
        // 办公
        h2 办公
        h4 申请审批
        ul
            li
                a(href='./办公/申请审批-申请信息.html') 申请信息
        hr
        // 客户
        h2 客户
        h4 客户管理
        ul
            li
                a(href='./客户/客户管理-客户管理.html') 客户管理
            li
                a(href='./客户/客户管理-客户管理-添加客户.html') 客户管理-添加客户
            li
                a(href='./客户/客户管理-联系人管理.html') 联系人管理
            li
                a(href='./客户/客户管理-联系人管理-添加联系人.html') 联系人管理-添加联系人
            li
                a(href='./客户/客户管理-访问受访.html') 访问受访
            li
                a(href='./客户/客户管理-访问受访-添加访问受访.html') 访问受访-添加访问受访
            li
                a(href='./客户/客户管理-催款记录.html') 催款记录
            li
                a(href='./客户/客户管理-坏死帐记录.html') 坏死帐记录
        hr
        // 引合
        h2 引合
        h4 引合管理
        ul
            li
                a(href='./引合/引合管理-引合一览表.html') 引合一览表
            li
                a(href='./引合/引合管理-推荐引合.html') 推荐引合
            li
                a(href='./引合/引合管理-引合依赖.html') 引合依赖
            li
                a(href='./引合/引合管理-引合依赖-添加引合.html') 引合依赖-添加引合
            li
                a(href='./引合/引合管理-设备名称.html') 设备名称
            li
                a(href='./引合/引合管理-设备名称-添加设备.html') 设备名称-添加设备
            li
                a(href='./引合/引合管理-引合担当.html') 引合担当
            li
                a(href='./引合/引合管理-引合预算.html') 引合预算
            //
                li
                    a(href='./引合/引合管理-引合预算-手动添加预算.html') 手动添加预算
            li
                a(href='./引合/引合管理-引合预算-历史预算.html') 引合预算-历史预算
            li
                a(href='./引合/引合管理-预算模板.html') 预算模板
            li
                a(href='./引合/引合管理-引合方案.html') 引合方案
        hr
        // 项目
        h2 项目
        h4 库存管理
        ul
            li
                a(href='./项目/库存管理-资材入库.html') 资材入库
            li
                a(href='./项目/库存管理-资材入库-入库.html') 资材入库-入库
            li
                a(href='./项目/库存管理-资材出库.html') 资材出库
            li
                a(href='./项目/库存管理-资材出库-出库.html') 资材出库-出库
            li
                a(href='./项目/库存管理-新增返库.html') 新增返库
            li
                a(href='./项目/库存管理-入库记录.html') 入库记录
            li
                a(href='./项目/库存管理-出库记录.html') 出库记录
            li
                a(href='./项目/库存管理-项目出入返库.html') 项目出入返库
            li
                a(href='./项目/库存管理-项目出入返库-查看.html') 项目出入返库-查看
            li
                a(href='./项目/库存管理-资材调拨.html') 资材调拨
            li
                a(href='./项目/库存管理-资材调拨-特殊入库.html') 资材调拨-特殊入库
            li
                a(href='./项目/库存管理-资材调拨-库存返库.html') 资材调拨-库存返库
            li
                a(href='./项目/库存管理-调拨记录.html') 调拨记录
            li
                a(href='./项目/库存管理-出库统计.html') 出库统计
            li
                a(href='./项目/库存管理-项目转库存.html') 项目转库存
            li
                a(href='./项目/库存管理-项目转库存-库存转换.html') 项目转库存-库存转换
        h4 售后管理
        ul
            li
                a(href='./项目/售后管理-售后发行.html') 售后发行
            li
                a(href='./项目/售后管理-售后发行-添加售后书.html') 售后发行-添加售后书
            li
                a(href='./项目/售后管理-售后预算.html') 售后预算
        h4 付款管理
        ul
            li
                a(href='./项目/付款管理-运输费用.html') 运输费用
            li
                a(href='./项目/付款管理-运输费用-添加运输费用.html') 运输费用-添加运输费用
            li
                a(href='./项目/付款管理-运输费用-添加运输费用-添加运输费用.html') 运输费用-添加运输费用-添加运输费用
            li
                a(href='./项目/付款管理-其他费用.html') 其他费用
            li
                a(href='./项目/付款管理-其他费用-添加其他费用.html') 其他费用-添加其他费用
            li
                a(href='./项目/付款管理-合同管理.html') 合同管理
        h4 报表管理
        ul
            li
                a(href='./项目/报表管理-营业月报.html') 营业月报
        hr
        // 资材
        h2 资材
        h4 资材库管理
        ul
            li
                a(href='./资材/资材库管理-资材库存.html') 资材库存
            li
                a(href='./资材/资材库管理-库存盘点.html') 库存盘点
            li
                a(href='./资材/资材库管理-库存盘点-盘点详细.html') 库存盘点-盘点详细
        h4 资材管理
        ul
            li
                a(href='./资材/资材管理-资材分类.html') 资材分类
            li
                a(href='./资材/资材管理-资材管理.html') 资材管理
            li
                a(href='./资材/资材管理-资材管理-添加新资材.html') 资材管理-添加新资材
        h4 供应商管理
        ul
            li
                a(href='./资材/供应商管理-供应商管理.html') 供应商管理
            li
                a(href='./资材/供应商管理-供应商管理-添加供应商.html') 供应商管理-添加供应商
        hr
        h2 资产
        h4 资产管理
        ul
            li
                a(href='./资产/资产管理-资产分类.html') 资产分类
            li
                a(href='./资产/资产管理-资产分类-添加资产分类.html') 资产分类-添加一级分类
            li
                a(href='./资产/资产管理-资产管理.html') 资产管理
            li
                a(href='./资产/资产管理-资产管理-资产录入.html') 资产管理-资产录入